/* html for whole page */
html{
  background-color: #eceeef;  
}

.main_container{
  background-color: #eceeef; 
}

/* summary_box is for landing page*/
.summary_box {
  position: relative;
  background: white;
  padding: 25px;
  margin: 25px; 
  margin-left: 25px; 
}
/* comp_box is for comparison page */
.comp_box {
  position: relative;
  background: white;
  margin: 175px;  
  padding: 50px;
}

/* #summ_pic {
  position: relative;
  width: 255px;
  height: 225px; 
  padding: 15px;
} */

/* Add color to navBar "Latitude" */
/* .navbar-brand { 
    background-color: #49A19A; 
    height: 60px;

    }   */

/* Line color and break */
hr.style1{
	border-top: 2px solid #343a40; 
}

.header h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;  
    color: #78c2ad; 
  } 

.header h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px; 
    text-align: center; 
    color: #78c2ad; 
  } 

.img_vis_comp {
    width: 100%;
}

p.p1 {
    margin: 25px;
    line-height: 2;
    font-size: 18px ;  
    padding: 5px;

}  


/* img {
    float: start;
  }   */
/* Sets up grid for images in Vis */

.imageNav_plot {
    position: relative;
    width: 100%;
    padding: 5px;
    
  }
  
.imageNav_plot:hover {
    opacity: 0.6; 
}
  
.imageNav_plot.active {
    border: 4px solid #78c2ad;
}
  
  
